.close_icon {
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin-right: 10px !important; /*TODO: MUI override? */
  margin-top: 10px !important;
  background-color: #ff57220a;
}

.menu li,
.menu a {
  width: 100%;
}

.menu a {
  display: flex;
  padding: 8px 32px 8px 16px;
  transition: color 0.3s ease;
}

.menu a[aria-current="page"] {
  background-color: rgba(132, 197, 161, 0.28);
}

.menu a svg {
  font-size: 2rem;
  margin-right: 10px;
}
