.market_item_card {
  background-color: "#000";
  min-height: "200px";
}

.market_item_card .muiimagelistitembar-title {
  font-size: "24px";
}

.button_icon {
  color: #fff;
}

.action_buttons {
  display: flex;
}

.action_buttons button + button {
  margin-left: 4px;
}
